<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Text Classification Tool</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Text Classification Tool</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if auth == 'yes' %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('pull_previous')}}">Your Previous Results <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
            </li>
            {% endif %}
      
      </nav>
    <div style="background-color:#f2f2f2 ; width: 500px; height: 900px; margin: auto; margin-top: 5%;">
      <center><h1 class = "page-header" >Welcome, {{name}}</h1></center>
      <form action="{{url_for('test')}}" method="POST" enctype=multipart/form-data style="padding: 15%; padding-left: 20%;">
        <div class="form-group">
          <label for="file1">Please choose the file to be analyzed</label>
          <input type="file" class="form-control-file" id="file1" name="file1"> <br>
          <label for="file2">Please choose your dataset</label> <span title="Uploading dataset is optional. You can analyze your text without uploading a dataset if you choose Naive Bayes algorithm.">&#x1F6C8</span> <br>
          <input type="file" id="file2" name="file2"><br>
          <br>
          <select name="language" id="languageid">
            <option value="null">Please choose the language of the text</option>
            <option value="english"> English</option>
            <option value="turkish">Turkish</option>
          </select><br>

          <br>
          
          <select name="algorithm" id="algorithmid">
            <option value="null">Please choose an algorithm</option>
            <option value="naivebayes">Naive Bayes Algorithm </option>
            <option value="lda">LDA Algorithm</option>
            <option value="nmf"> NMF Algorithm</option>
            <option value="pam">PAM Algorithm</option>
            <option value="lda2">LDA Algorithm with Dataset </option>
            <option value="nmf2">NMF Algorithm with Dataset </option>
          </select><br> <br>

             <select name="Word" id="wid">
            <option value="Sq">Please choose a WordCloud image</option>
            <option value="Sq">Square </option>
            <option value="Cl">Cloud</option>
            <option value="Ci">Circle</option>
            <option value="e">elliptical </option>
            <option value="Tm">To the moon</option>
          </select><br> <br>
          <br>
          <select name="ngram" id="ngram">
            <option value="false">Do you want n-grams?</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
          </select>
          <label for="file3">You can upload your own stopwords</label>
          <input type="file" class="form-control-file" id="file3" name="file3"> <br>
          
          <label for="number">Please specify the number of your N-grams. Ignore this if you don't want N-grams.</label>
          <br>
          <input type="number" max="3" min="1" id="number" name="number">
          <label for="column">Please write your column name of dataset if you have selected a dataset</label>
          <input type="text" id="column" name="column">
          <br>
          <label for="topic_number">Enter the topic number you want the algorithm to extract </label>
          <br>
          <input type="number" min="10" id="topic_number" name="topic_number">
          <br><br>
          
          
          <center><button type="submit" id="button" onclick="setTimeout(showIt,2000)">Submit</button></center>
          
        </div>
      </form>

    </div>
    <br>
    <center>
    <div class="alert alert-danger" role="alert" id="warn" style="visibility: hidden; width: 500px;">
      
      Took too much time? Don't worry, you can leave the page, all results will be delivered via email if you signed in!
    </div>
    </center>
    <script type="text/javascript">
    function showIt() {
      
      document.getElementById("warn").style.visibility = "visible";
      
      
}
     
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>